:root.theme-light {
  --bg-path: url("../images/cover-image-light.png");
  --page-background-color: #fff1f7;
  --main-text-color: #353430;
  --slogan-decor-color: #ff8dcb;
  --block-header-text-color: #353430;
  --accent-color: #ffc2e6;
  --header-bg-color: #ff8dcb;
  --nav-color: #353430;
  --btn-text-color: #353430;
  --btn-border-active: 1px solid #353430;
  --btn-border-color-hover: 1px solid rgb(50, 49, 45, 0.4);
  --btn-border-focus: 1px solid #353430;
  --header-text-color: #353430;
  --link-shadow: 2px 1px 0 rgba(255, 141, 203, 1);
  --link-hover: underline solid #f1b2ce;
  --link-outline: 1px solid #f1b2ce;
}

.theme-light .decorative-typography {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-path: url("../images/cover-image-light.png");
    --page-background-color: #fff1f7;
    --main-text-color: #353430;
    --slogan-decor-color: #ff8dcb;
    --block-header-text-color: #353430;
    --accent-color: #ffc2e6;
    --header-bg-color: #ff8dcb;
    --nav-color: #353430;
    --btn-text-color: #353430;
    --btn-border-active: 1px solid #353430;
    --btn-border-color-hover: 1px solid rgb(50, 49, 45, 0.4);
    --btn-border-focus: 1px solid #353430;
    --header-text-color: #353430;
    --link-shadow: 2px 1px 0 rgba(255, 141, 203, 1);
    --link-hover: underline solid #f1b2ce;
    --link-outline: 1px solid #f1b2ce;
  }

  .decorative-typography {
    display: none;
  }
}
