/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  font-family: var(--main-text-font-family), sans-serif;
  font-size: var(--main-text-size);
  background: var(--bg-path) var(--page-background-color) center / cover
    no-repeat fixed;
  color: var(--main-text-color);
  line-height: var(--main-text-line-height);
  display: flex;
  flex-direction: column;
  gap: calc(var(--main-gap) * 4);
  grid-template-columns: repeat(3, 1fr);

  @media (width >=768px) {
    gap: calc(var(--secondary-gap) * 3);
  }
}

.header {
  block-size: 100lvh;
  min-height: 668px;
  align-items: center;
  display: grid;
  grid-column: 1 / 4;
  grid-template-rows: 1fr max-content 1fr;
  padding: var(--main-gap);

  @media (width >=768px) {
    padding: var(--secondary-gap) var(--secondary-gap) var(--secondary-gap) 0;
    block-size: 100vh;
    min-height: 1024px;
  }

  @media (width >=1024px) {
    min-height: 768px;
  }
}

.capitals {
  text-transform: uppercase;
}

.decorative-typography {
  position: absolute;
  color: var(--nav-color);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  text-transform: uppercase;
  inset-inline-end: calc(var(--main-gap) + 28px);
  inset-block-start: calc(var(--main-gap) + 2px);

  @media (width >=768px) {
    inset-inline-end: calc(var(--secondary-gap) + 28px);
    inset-block-start: calc(var(--secondary-gap) + 2px);
  }
}

.decorative-typography::after {
  content: "";
  position: absolute;
  inline-size: 10px;
  block-size: 10px;
  margin: -5px -20px 0 0;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--nav-color);
  background: var(--nav-color);
  inset-inline-end: 0;
  inset-block-start: 50%;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);

  @media (width >=768px) {
    inset-inline-end: var(--secondary-gap);
    inset-block-start: var(--secondary-gap);
  }
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
  left: var(--main-gap);
  bottom: var(--main-gap);

  @media (width >=768px) {
    inset-inline-start: var(--secondary-gap);
    inset-block-end: var(--secondary-gap);
  }
}

.header__theme-menu {
  position: relative;
  grid-row: 1;
  grid-column: 3;
  justify-self: end;

  @media (width >=1024px) {
    margin-left: var(--secondary-gap);
    grid-column: 2;
    align-self: start;
    justify-self: center;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);

  @media (width >=1024px) {
    flex-direction: row;
  }
}

.header__theme-menu-button {
  color: var(--btn-text-color);
  min-inline-size: 70px;
  block-size: 100%;
  text-transform: lowercase;
  border: 1px solid transparent;
  /* Bugfix property*/
  background: var(--button-bg);
  cursor: pointer;
  appearance: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--nav-color);
}

.header__theme-menu-button:hover {
  border: var(--btn-border-color-hover);
}

.header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
  pointer-events: none;
}

.header-decor {
  color: var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--slogan-decor-color);
  line-height: var(--slogan-text-line-height);
  font-weight: var(--slogan-text-weight);
  text-transform: lowercase;

  @media (width >=768px) {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.header__slogan {
  grid-column: span 3;
  grid-row: 2;
  display: flex;
}

.header__text {
  grid-column: 1/ 4;
  background: var(--main-text-color);
  font-size: inherit;
  display: block;
  justify-self: end;
  font-weight: var(--header-text-weight);

  @media (width >=768px) {
    max-inline-size: calc(50% - var(--main-gap));
  }
}

.title-decor {
  background: var(--header-bg-color);
  color: var(--header-text-color);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 var(--main-gap);

  @media (width >=768px) {
    gap: calc(var(--secondary-gap) * 4);
    padding: 0 var(--secondary-gap);
  }
}

.content-section {
  display: flex;
  flex-direction: column;
  gap: var(--secondary-gap);
  grid-column: 1 / 4;

  @media (width >=768px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  @media (width >=1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.content-section__advice {
  display: flex;
  flex-direction: column;
  gap: var(--secondary-gap);

  @media (width >=768px) {
    flex-direction: column;
    gap: var(--secondary-gap);
  }

  @media (width >=1024px) {
    grid-column: 2 / 4;
  }
}

.text-block:not(.cards) {
  display: flex;
  flex-direction: column;
  gap: var(--secondary-gap);

  @media (width >=1024px) {
    grid-column: 2 / 4;
  }
}

.info {
  display: grid;
  grid-column: 1 / 4;
  gap: var(--secondary-gap);
}

.link-decor {
  text-shadow: var(--link-shadow);
  cursor: pointer;
}

.link-decor:hover {
  border-bottom: var(--link-hover);
}

.link-decor:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.cards {
  display: grid;
  grid-column: 1 / 5;
  gap: var(--secondary-gap);

  @media (width >=1024px) {
    grid-template-columns: inherit;
  }
}

.text-block__item-card {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
}

.text-block__item {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);

  @media (width >=768px) {
    grid-column: 2 / 3;
  }
}

.content-section__header {
  color: var(--block-header-text-color);
  font-weight: var(--header-text-weight);
  font-size: inherit;
  grid-column: span 4;

  @media (width >=768px) {
    grid-column: 1 / 2;
  }
}

.text-block__subheader {
  font-size: inherit;
  font-weight: var(--header-text-weight);
  max-block-size: max-content;
}

.text-block__advice-subheader {
  font-size: inherit;
  font-weight: var(--advice-text-weight);
}

.pics {
  display: grid;
  gap: var(--main-gap);

  @media (width >=678px) {
    gap: var(--secondary-gap);
  }
}

.gallery {
  display: grid;
  gap: var(--main-gap);

  @media (width >=678px) {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--secondary-gap);
  }
}

.gallery__sunset {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;

  @media (width >=678px) {
    grid-column: 1/ 3;
    grid-row: 1 / 2;
  }
}

.gallery__ice-cream {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;

  @media (width >=678px) {
    grid-column: span 1;
    grid-row: 1 / 3;
  }
}

.gallery__tape {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;

  @media (width >=678px) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
}

.gallery__books {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;

  @media (width >=678px) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.gallery__street {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;

  @media (width >=678px) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}

.footer {
  block-size: 100lvh;
  min-height: 668px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

  @media (width >=768px) {
    padding: var(--secondary-gap);
    block-size: 100vh;
    min-height: 1024px;
  }

  @media (width >=1024px) {
    min-height: 768px;
  }
}
