:root {
  --main-text-line-height: 23.4px;
  --slogan-text-weight: 700;
  --header-text-weight: 700;
  --slogan-text-line-height: 82.5%;
  --main-line-height: 1.3;
  --main-text-font-family: "IBM Plex Mono", sans-serif;
  --main-text-size: 18px;
  --main-gap: 10px;
  --nav-gap: calc(10px * 5.5);
  --button-bg: transparent;
  --secondary-gap: calc(var(--main-gap) * 2);
}
/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
